<center>
<h1>
Adopt a Missionary!
</h1>
<h3>
  <%= @missionary.name %>
</h3>

<p>
  <strong><%= @missionary.campus %></strong>
</p>

<img src="<%= @missionary.image_url %>" style="width: 400px">
</center>