<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @missionary.name %>
</p>

<p>
  <strong>Campus:</strong>
  <%= @missionary.campus %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @missionary.image_url %>
</p>
